.Footer {
  border-top: 30px solid white;
  text-align: center;
  background-color: #F5AD9D;
}

.Footer p {
  font-size: 15px;
  color: black;
  font-weight: 200;
}

.Footer a {
  color: #294764;
  text-decoration: none;
}

.Footer a:hover {
  color: white;
  text-decoration: underline;
}

.Footer-emoji {
  color: initial;
}
