.title {
  color: #ef7153;
  font-size: 25px;
  font-style: italic;
  text-transform: lowercase;
}

.titleWord {
  margin-top: 30px;
  color: #ef7153;
  font-size: 25px;
  text-transform: lowercase;
}

.titlePartOfSpeech {
  margin-top: 30px;
  color: #ef7153;
  font-size: 20px;
  font-style: italic;
  text-transform: lowercase;
}

.titlephonetic {
  font-size: 18px;
  font-weight: 100;
}

.titleSynonyms {
  margin-top: 30px;
  color: #ef7153;
  font-size: 25px;
  font-style: italic;
  text-transform: lowercase;
}

ul,
li {
  list-style-type: none !important;
  display: inline-block;
  padding-right: 15px;
  line-height: 1;
}
